<div class="body">
  <button
    class="button_back"
    mat-raised-button
    color="primary"
    (click)="backPage()"
  >
    Voltar
    <mat-icon
      aria-hidden="false"
      aria-label=""
      fontIcon="arrow_back"
    ></mat-icon>
  </button>

  <mat-card>
    <form [formGroup]="form">
      <mat-form-field  ngDefaultControl formControlName="name">
        <input matInput #nome_jogo placeholder="Nome do jogo completo" />
      </mat-form-field>

      <br />

      <mat-form-field ngDefaultControl formControlName="company">
        <input matInput #nome_empresa  placeholder="Nome da empresa" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-select ngDefaultControl formControlName="category">
          <mat-option
            *ngFor="let category of categorys"
            [value]="category.value"
            >{{ category.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>

    <div class="buttons_actions">
      <mat-card-actions align="start">
        <button mat-raised-button (click)="cancel()">Cancelar</button>
        <button
          mat-raised-button
          (click)="submit()"
          color="primary"
          [disabled]="!form.valid"
        >
          Confirmar
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
